<nav class="navbar navbar-expand-md bg-body-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/listings">Home</a>
          <a class="nav-link" href="/listings">explore</a>
          <a class="nav-link" href="/listings/new">add new listings</a>
    
        </div>
        <div class="search ms-auto">
          <form id="searchForm" class="d-flex" role="search">
            <input
              id="searchInput"
              class="form-control me-2"
              type="search"
              placeholder="Search by country"
              aria-label="Search"
            />
            <button class="btn btn-outline-danger" type="submit">Search</button>
          </form>
        </div>
        
        <div class="navbar-nav ms-auto">
          <% if(!currUser) {%>
          <a class="nav-link active" href="/signup">Signup</a>
          <a class="nav-link" href="/login">Login</a>
          <% } %>
          <% if(currUser) {%>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

  <style>
    .btn-outline-danger{
      padding: 0 1rem 0 1rem;
      border-radius: 25px;
    }
  </style>

  